div {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

div img {
    width: 50%;
}

div p {
    width: 50%;
    margin: 0;
    color: #2750F5;
    font-family: Arial;
    text-decoration: underline;
}